body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #a9a6a6;
}

table {
    margin-bottom: 60px;
}

#notes-table {
    margin-bottom: 10px;
}

tr {
    background: #f2f2f2;
    border: 1px solid gray;
}

i {
    color: #565555;
    margin-right: 6px;
}

.th_icon:first-child {
    margin-left: 24px;
}

.button_icon {
    cursor: pointer;
}

.archive_button {
    margin-bottom: 10px;
    font-size: 16px;
}

.button_block {
    display: flex;
    justify-content: end;
}

.create_note_button {
    margin-bottom: 40px;
    font-size: 16px;
}

.hidden_note_menu {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.note_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #a4a2a2;
    border: 1px solid grey;
    border-radius: 16px;
    width: 500px;
    height: 400px;
}

.note_menu input {
    width: 350px;
    height: 40px;
    margin: 10px 0;
}

.note_menu textarea {
    width: 350px;
    height: 40px;
    margin: 10px 0;
    resize: vertical;
}

.note_menu select {
    width: 350px;
    height: 40px;
    margin: 10px 0;
}

.note_menu button {
    width: 150px;
    height: 40px;
}

.close_note_menu {
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

